<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <title>IziOz Webpage</title>

</head>
<body>

  <h1>Welcome to IziOz Spotify Interface</h1>
  <div class="container">

    <!-- Spotify Embed Section -->
    
      <h2>Spotify Track</h2>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3dpnfLqNxqUfreVv7EAPDj?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    

    <!-- Video Section -->
     <div class="video-container">
      <h2>IziOz Video</h2>
      <video controls>
        <source src="/static/resources/Ducklings.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div> 

    <!-- Photo Section -->
    <div class="photo-container">
      <h1>
      <img src="/static/resources/dreamforest.jpg" alt="A beautiful photo">
      </h1>
    </div>

  </div>

</body>
</html>
